<div class="container">
  <nav role="navigation">
    <div id="menuToggle">
      <!--
        A fake / hidden checkbox is used as click reciever,
        so you can use the :checked selector on it.
        -->
      <input type="checkbox" />

      <!--
        Some spans to act as a hamburger.
        -->
      <span></span>
      <span></span>
      <span></span>

      <!--
        menu options
        -->
      <ul id="menu">
        <a href="/results">
          <li>Search Results</li>
        </a>
        <a href="/watchlist">
          <li>Playlist</li>
        </a>
        <a href="/curate">
          <li>Curate Playlist</li>
        </a>
        <a href="/watched">
          <li>Watched</li>
        </a>
        <a href="/logout">
          <li>Logout</li>
        </a>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <div class="col-sm">
    <img class="img-fluid favoritesTitle mt-3 mb-5" src="Favorites-Title-Text.png" alt="logo"
      style="max-height: 130px; length: 200px;" />
  </div>
</div>

<div class="container-fluid mt-3" id="moviemargin">
  <div class="row">


    {{#each Movie}}
    <div class="col-sm col-lg-4">
      <div id="f1_container">
        <div id="f1_card" class="shadow">
          <div class="front face">
            <img src={{backDrop}} width="400px" height="230px"/>
          </div>
          <div class="back face center">
            <p class="watchP"><strong>{{title}}</strong></p>
            <p class="watchP cardD">{{description}}</p>
            <a href=#>... more info</a>

            <div class="placement">
              <div data-tooltip-heart="Favorite">
                <div class="heart heartico-{{id}}" data-id="{{id}}"></div>
              </div>
            </div>
            <!-- MUST MAKE ICON CLICKABLE -->
            <div data-tooltip-add="Add to Watchlist">
              <a href=#><i class="fas fa-plus plusico-{{id}}" data-id="{{id}}" id="plusico"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}


  </div>
</div>



<script type="text/javascript" src="js/favorites.js"></script>