<div class="container">
  <nav role="navigation">
    <div id="menuToggle">
      <!--
        A fake / hidden checkbox is used as click reciever,
        so you can use the :checked selector on it.
        -->
      <input type="checkbox" />

      <!--
        Some spans to act as a hamburger.
        -->
      <span></span>
      <span></span>
      <span></span>

      <!--
        menu options
        -->
      <ul id="menu">
        <a href="/results">
          <li>Search Results</li>
        </a>
        <a href="/favorites">
          <li>Favorites</li>
        </a>
        <a href="/curate">
          <li>Curate Playlist</li>
        </a>
        <a href="/watched">
          <li>Watched</li>
        </a>
        <a href="/logout">
          <li>Logout</li>
        </a>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <div class="col-sm">
    <img class="img-fluid playlistTitle" src="Pandemic-Playlist-Title-Text.png" alt="logo"
      style="max-height: 200px; length: 200px;" />
  </div>
</div>

<div class="container-fluid mt-0" id="moviemargin">
  <div class="row">

    {{#each Movie}}
    
    <div class="col-sm col-lg-4">
      <div id="f1_container">
        <div id="f1_card" class="shadow">
          <div class="front face">
            <img src={{backDrop}} width="350px" height="200px" />
          </div>
          <div class="back face center">
            <p class="watchP"><strong>{{title}}</strong></p>
            <p class="watchP cardD" maxlength="10">{{description}}</p>
            <div class="placement">
              <div data-tooltip-heart="Favorite">
                <div class="heart heartico-{{id}}" data-id="{{id}}"></div>
              </div>
            </div>
            <!-- MUST MAKE ICON CLICKABLE -->
            <div data-tooltip="Remove from Watchlist">
               <a href=#><i class="fas fa-minus minusico-{{id}}" data-id="{{id}}" id="minusico"></i></a></div>
            <div data-tooltip-eye="Seen it">
               <a href=#><i class="fas fa-eye eyeico-{{id}}" data-id="{{id}}" id="eyeico"></i></a></div>
          </div>
        </div>
      </div>
    </div>

    {{/each}}

  </div>
</div>



{{!-- </div>

    <div class="col-sm col-lg-4">
      
    </div>

    <div class="col-sm col-lg-4">
    </div> --}}


{{!-- <div class="container-fluid">
  <div class="row">

    <div class="col-sm col-lg-4">
    </div>

    <div class="col-sm col-lg-4">
    </div>

    <div class="col-sm col-lg-4">
      
    </div>

  </div>
</div> --}}

<script type="text/javascript" src="./js/watchlist.js"></script>